body {
    background-color: rgb(249, 250, 228);
    margin: 0;
}

.section {
    background-color: rgb(203, 71, 71);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 60%;
    margin: 5px auto 0 auto;
}

.section img {
    width: 70px;
    height: 100px;
    border-radius: 3px;
    box-shadow: 4px 5px  saddlebrown;
}

 h1 {
    text-align: center;
    text-shadow: 1px 1px rgb(49, 26, 26);
    color: #d58420;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;   
    background-color: #f7ff9c;
}

h2 {
    text-align: left;
    text-shadow: 1px 1px rgb(49, 26, 26);
    color: #e762a5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: unset;
}

p6 {
    background-color: rgb(106, 251, 210);
    display: flex;
    justify-content: space-between;
    padding: 2px;
    width: 15%;
    margin: 1px ;
}

p7 {
    background-color: rgb(251, 190, 106);
    display: flex;
    justify-content: space-between;
    padding: 2px;
    width: 15%;
    margin: 1px ;
}

.section p1 {
    color: #effff5;
    font-size: larger;
}

.flexbox {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    display: block;
    box-sizing: border-box;
    width: 25%;
    padding-left: 1px;
    padding-right: 1px;
}

.content {
    background-color: rgb(226, 255, 153);
    border: 2px solid rgb(83, 121, 27);
    padding: 10px;
}

dt {
    background-color: rgb(106, 200, 251);
    display: flex;
    justify-content: space-between;
    padding: 2px;
    width: 20%;
    margin: 1px ;
}

dialog {
    display: flex;
    padding: 1px;
    width: 10%;
    margin: 2px ;
}

video {
    display: block;
    margin: auto;

}