body {
    background-color: rgb(249, 250, 228);
    margin: 0;
}

.section {
    background-color: rgb(203, 71, 71);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 60%;
   
}

.section img {
    width: 70px;
    height: 100px;
    border-radius: 3px;
    box-shadow: 4px 5px  saddlebrown;
}

 h1 {
    text-align: center;
    text-shadow: 1px 1px rgb(49, 26, 26);
    color: #d58420;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;   
    background-color: #f7ff9c;
}

h2 {
    text-align: left;
    text-shadow: 1px 1px rgb(49, 26, 26);
    color: #e762a5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: unset;
  
}

p1{
    margin: 10px;
}
p6 {
    background-color: rgb(106, 251, 210);
    display: flex;
    justify-content: space-between;
    padding: 2px;
    width: 15%;
    
}

p7 {
    background-color: rgb(251, 190, 106);
    display: flex;
    justify-content: space-between;
    padding: 2px;
    width: 15%;
    
}
p8{
    margin-left: 20px;
}

.section p1 {
    color: #effff5;
    font-size: larger;
 
}

.flexbox {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
}

.item {
    display: block;
    box-sizing: border-box;
    width: 25%;
    padding-left: 1px;
    padding-right: 1px;
    
}

.content {
    background-color: rgb(226, 255, 153);
    border: 2px solid rgb(83, 121, 27);
    padding: 5px;
    
}
 
dd{
   
}

ul{
   
}

dt {
    background-color: rgb(106, 200, 251);
    display: flex;
    justify-content: space-between;
    padding: 2px;
    width: 20%;

}

dialog {
    display: flex;
    padding: 1px;
    width: 10%;
}

video {
    display: block;

}

nav {
    background-color: #d7fa95;
    padding: 10px;
    text-align: center;
    float: left;
    width: 20%;
    height: 50px;
    position: sticky;
    top: 10%;
    box-shadow: 0 0 10px rgb(24, 84, 45);
    border-radius: 8px;
}

main {
    padding: 20px;
    float: right;
    width: 70%;
}


.info-section {
    background-color: #e0fcff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}